---
import Base from "../../layouts/Base.astro";
import Nav from "../../components/Nav.astro";
import Hero from "../../components/Hero.astro";
import Problem from "../../components/Problem.astro";
import HowItWorks from "../../components/HowItWorks.astro";
import Features from "../../components/Features.astro";
import NotModeled from "../../components/NotModeled.astro";
import Privacy from "../../components/Privacy.astro";
import Faq from "../../components/Faq.astro";
import FinalCta from "../../components/FinalCta.astro";
import Footer from "../../components/Footer.astro";
import { en } from "../../i18n/en";
import { TOOL_URL, REPO_URL } from "../../config";

const faqJsonLd = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  mainEntity: en.faq.items.map((i) => ({
    "@type": "Question",
    name: i.q,
    acceptedAnswer: { "@type": "Answer", text: i.a },
  })),
};
---

<Base lang="en" copy={en} jsonLd={faqJsonLd}>
  <Nav copy={en} toolUrl={TOOL_URL} />
  <main>
    <Hero copy={en} lang="en" toolUrl={TOOL_URL} />
    <Problem copy={en} />
    <HowItWorks copy={en} lang="en" />
    <Features copy={en} />
    <NotModeled copy={en} />
    <Privacy copy={en} />
    <Faq copy={en} />
    <FinalCta copy={en} toolUrl={TOOL_URL} />
  </main>
  <Footer copy={en} toolUrl={TOOL_URL} repoUrl={REPO_URL} />
</Base>
